<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Bienvenidxs a MercadoLiebre</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
    />
    <script
      src="https://kit.fontawesome.com/e70b513bf4.js"
      crossorigin="anonymous"
    ></script>

    <link
      rel="icon"
      href="https://http2.mlstatic.com/ui/navigation/5.18.1/mercadolibre/favicon.ico"
    />
    <link rel="stylesheet" href="css/styles.css" />
    <link rel="stylesheet" href="css/queries.css" />
    <link rel="stylesheet" href="css/register.css" />
  </head>

  <body>
    <!-- Inicio Header -->
    <header>
      <div class="top-header">
        <!-- Logo -->
        <div class="logo">
          <img
            src="images/logo-mercado-liebre.svg"
            alt="Logo de MercadoLiebre"
          />
        </div>
        <!-- Búsqueda -->
        <div class="form" action="#" method="GET">
          <input
            class="input"
            type="text"
            placeholder="Buscar productos, marcas"
          />
          <div class="submit"><i class="fa fa-search"></i></div>
        </div>
        <!-- Título -->
        <p>
          <i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta
          de crédito
        </p>
      </div>
      <!-- Navecación -->
      <nav class="main-navbar">
        <ul>
          <li><a href="#">Ofertas</a></li>
          <li><a href="#">Tiendas Oficiales</a></li>
          <li><a href="#">Vender</a></li>
          <li><a href="#">Ayuda</a></li>
        </ul>
        <ul>
          <li>
            <a href="/register"
              >Creá tu cuenta <i class="far fa-id-card"></i
            ></a>
          </li>
          <li>
            <a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a>
          </li>
          <li>
            <a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a>
          </li>
        </ul>
      </nav>
      <!-- Menú hamburguesa -->
      <div class="burger-menu">
        <i class="fa fa-bars burger"></i>
      </div>
    </header>
    <!-- Inicio Main -->
    <main class="register">
      <!-- Formulario Register -->
      <form action="/" method="GET">
        <!-- Nombre y apellido -->
        <div>
          <label for="name"></label>
          <input
            type="text"
            name="name"
            id="name"
            placeholder="Nombre y apellido"
            class="form-input"
            required
          />
        </div>
        <!-- Usuario -->
        <div>
          <label for="user"></label>
          <input
            type="text"
            name="user"
            id="user"
            placeholder="Nombre de usuario"
            class="form-input"
            required
          />
        </div>
        <!-- Mail -->
        <div>
          <label for="mail"></label>
          <input
            type="email"
            name="mail"
            id="mail"
            placeholder="E-mail"
            class="form-input"
            required
          />
        </div>

        <h4>Fecha de nacimiento</h4>

        <!-- Fecha de nacimiento -->
        <div>
          <label for="date"></label>
          <input
            type="date"
            name="date"
            id="date"
            class="form-input"
            required
          />
        </div>
        <!-- Direccion -->
        <div>
          <label for="adress"></label>
          <input
            type="text"
            name="adress"
            id="adress"
            placeholder="Domicilio"
            class="form-input"
            required
          />
        </div>

        <h4>Perfil del usuario</h4>

        <!-- Ocupacion -->
        <div class="profile">
          <div>
            <input type="radio" name="profile" value="buyer" id="buyer" />
            <label for="buyer">Comprador</label>
          </div>
          <div>
            <input type="radio" name="profile" value="seller" id="seller" />
            <label for="seller">Vendedor</label>
          </div>
        </div>

        <h4>Intereses</h4>

        <!-- Intereses -->
        <div class="intereses">
          <div>
            <input type="checkbox" name="interests" value="1" id="1" />
            <label for="1">Electro</label>
          </div>
          <div>
            <input type="checkbox" name="interests" value="2" id="2" />
            <label for="2">Moda</label>
          </div>
          <div>
            <input type="checkbox" name="interests" value="3" id="3" />
            <label for="3">Hogar</label>
          </div>
          <div>
            <input type="checkbox" name="interests" value="4" id="4" />
            <label for="4">Juguetería</label>
          </div>
          <div>
            <input type="checkbox" name="interests" value="5" id="5" />
            <label for="5">Vida sana</label>
          </div>
        </div>

        <h4>Elegí tu foto de usuario</h4>

        <!-- Foto de perfil -->
        <div class="file">
          <input type="file" name="avatar" accept=".jpg" required />
        </div>
        <!-- Contraseña -->
        <input
          type="password"
          name="pass"
          placeholder="Elegí tu contraseña"
          class="form-input"
          required
        />
        <!-- Confirmar contraseña -->
        <input
          type="password"
          name="passConfirm"
          placeholder="Confirmá tu contraseña"
          class="form-input"
          required
        />
        <!-- Botones Enviar / Borrar -->
        <div class="submit-reset">
          <input type="submit" value="Enviar" />
          <input type="reset" value="Borrar" />
        </div>
      </form>
    </main>

    <!-- Inicio Footer -->
    <footer>
      <section>
        <!-- Primera parte del Footer -->
        <div class="footer-details">
          <i class="fa-solid fa-credit-card"></i>
          <p><strong>Pagá con tarjeta o en efectivo</strong></p>
          <p>
            Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
            efectivo en puntos de pago. ¡Y siempre es seguro!
          </p>
        </div>
        <!-- Segunda parte del Footer -->
        <div class="footer-details">
          <i class="fa-solid fa-gift"></i>
          <p><strong>Envío gratis desde $ 2.500</strong></p>
          <p>
            Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
            miles de productos. Es un beneficio de Mercado Puntos.
          </p>
        </div>

        <!-- Tercer parte del Footer -->
        <div class="footer-details">
          <i class="fa-solid fa-user-shield"></i>
          <p><strong> Seguridad, de principio a fin</strong></p>
          <p>
            ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no
            puedas hacer, porque estás siempre protegid@.
          </p>
        </div>
      </section>
      <!-- Copyright -->
      <p class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
  </body>
</html>
