/*********************/
/* QUERIE MAX(768px) */
/*********************/

@media (max-width: 768px) {
  .logo {
    padding: 10px 5%;
  }
  .form,
  .logo {
    width: 50%;
  }
  article {
    margin-bottom: 10px;
  }
}

/*********************/
/* QUERIE MIN(361px) */
/*********************/

@media (min-width: 361px) {
  p {
    /* font-size: 16px; */
    font-size: 14px;
  }
  .top-header {
    padding: 20px;
  }
  .form {
    height: 40px;
  }
  .main-navbar {
    /* font-size: 16px; */
    font-size: 14px;
  }
}

/*********************/
/* QUERIE MIN(768px) */
/*********************/

@media (min-width: 769px) {
  .top-header {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
  }
  .top-header p {
    width: 80%;
  }
  .logo {
    min-width: 200px;
  }
  .form {
    width: 200%;
    margin: 0 15px;
  }
  .burger-menu {
    display: none;
  }
  .main-navbar {
    display: flex;
    justify-content: space-between;
  }

  article {
    width: 45%;
  }
  article:hover {
    transform: translateY(-1.2rem);
  }
  .products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 4rem;
  }
}

/**********************/
/* QUERIE MIN(1200px) */
/**********************/

@media (min-width: 1200px) {
  .products {
    column-gap: 50px;
    flex-wrap: nowrap;
  }

  footer section {
    display: flex;
    flex-direction: row;
  }
}

/***********/
/* TESTING */
/***********/

/* For Querie: Min(768px) */

/* article:nth-child(1) {
  animation: articulo1 20s infinite;
}
article:nth-child(2) {
  animation: articulo2 20s infinite;
}
article:nth-child(3) {
  animation: articulo3 20s infinite;
}
article:nth-child(4) {
  animation: articulo4 20s infinite;
} */

/***********/
/* TESTING */
/***********/

/* For Querie: Min(1200px) */

/* article:nth-child(1) {
  animation: none;
}
article:nth-child(2) {
  animation: none;
}
article:nth-child(3) {
  animation: none;
}
article:nth-child(4) {
  animation: none;
} */

/***********/
/* TESTING */
/***********/

/* For Querie: Min(1200px) */

/* @keyframes camion {
  50% {
    right: 86%;
  }
  100% {
    right: 20px;
    transform: rotate(-360deg);
  }
} */

/***********/
/* TESTING */
/***********/

/* For Querie: Min(769px) */

/* @keyframes articulo1 {
  25% {
    transform: translateX(122%);
  }
  50% {
    transform: translateY(111%) translateX(122%);
  }
  75% {
    transform: translateY(111%);
  }
}

@keyframes articulo2 {
  25% {
    transform: translateY(111%);
  }
  50% {
    transform: translateY(111%) translateX(-122%);
  }
  75% {
    transform: translateX(-122%);
  }
}

@keyframes articulo3 {
  25% {
    transform: translateY(-111%);
  }
  50% {
    transform: translateY(-111%) translateX(122%);
  }
  75% {
    transform: translateX(122%);
  }
}

@keyframes articulo4 {
  25% {
    transform: translateX(-122%);
  }
  50% {
    transform: translateY(-111%) translateX(-122%);
  }
  75% {
    transform: translateY(-111%);
  }
} */
