h4 {
  max-width: 700px;
  text-align: left;
  margin: auto;
  margin-bottom: 25px;
}

.register {
  margin: 25px auto;
}

form input {
  margin: auto;
  margin-bottom: 25px;
}

.form-input {
  display: block;
  height: 35px;
  width: 100%;
  max-width: 700px;
  border-radius: 5px;
  border: none;
  padding: 10px;
}

.profile,
.intereses,
.file {
  max-width: 700px;
  margin: auto;
}

.profile {
  display: flex;
  gap: 30px;
}

.profile div {
  display: flex;
  gap: 30px;
}

.intereses {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.intereses div {
  display: flex;
  gap: 20px;
}

.submit-reset {
  display: flex;
  max-width: 700px;
  margin: auto;
}

.submit-reset input {
  border-radius: 5px;
  border: none;
  height: 35px;
  width: 49%;
  color: #ffffffff;
  background-color: #0022aa;
  transition: all 0.3s;
}

.submit-reset input:hover {
  cursor: pointer;
  background-color: #ffffffff;
  color: #0022aa;
  border: 1px solid #0022aa;
}
