/*
- PALETA DE COLORES:

Amarillo: #EAC926;
Azul: #03264C;
Celeste: #1259c3;
Gris oscuro: #666;
Gris claro: #ebebeb;
Verde: #39b54a;

- TIPOGRAFIAS:

Roboto

- TAMAÑOS TIPOGRAFICOS:

Cuerpos de texto: 12px
Titulares (Basado en tu última visita/Ofertas): 24px
Precios: 18px
Descuentos: 16px
Descripciones: 16px

- ICONOS:
https://fontawesome.com/icons?d=gallery&m=free
*/

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #ebebeb;
}

/******************/
/* SECTION HEADER */
/******************/

h3 {
  font-size: 24px;
  margin: 20px 0;
}

p {
  font-size: 12px;
}

div.top-header {
  padding: 5%;
}

header {
  background-color: #eac926;
}

header div.logo {
  width: 200px;
  padding: 10px;
}

.main-navbar {
  font-size: 12px;
}

.input,
.submit {
  display: inline;
}

header ul li {
  list-style-type: none;
}

header ul li a {
  text-decoration: none;
  color: #000;
}

header .form .input {
  background-color: #fff;
  border: 1px solid #000;
  outline: none;
  color: #666;
  font-size: 12px;
  padding: 10px;
}
header .form .submit {
  background-color: #fff;
  border: 1px solid #000;
  color: #666;
  width: 10%;
}

header div.top-header p {
  width: 100%;
  text-align: center;
  margin-top: 10px;
}

div.burger-menu {
  text-align: center;
}

div.burger-menu i {
  background-color: #0044aa;
  border-radius: 5px;
  color: #fff;
  font-size: 20px;
  height: 40px;
  margin: 10px 0px 20px 0px;
  padding: 10px;
  width: 40px;
}

/****************/
/* SECTION MAIN */
/****************/

article {
  margin-bottom: 10px;
}

.main-article {
  position: relative;
}

article div.main-article {
  width: 100%;
}

.main-article {
  border-top: 1px solid #ebebeb;
  padding: 15px;
}

.products:last-child {
  margin-bottom: 0px;
}

.price {
  font-size: 18px;
  margin-right: 10px;
}

.discount,
.description {
  font-size: 16px;
  font-weight: normal;
}

h3,
.description {
  color: #666;
}

section.banner img {
  width: 100%;
}

main {
  width: 90vw;
  margin: auto;
}
main section article {
  background-color: #fff;
}

.price-discount {
  display: flex;
  align-items: center;
}

.price {
  width: 30%;
}

.discount {
  width: 70%;
}

main section article i {
  display: block;
  font-size: 16px;
  padding: 5px;
  width: 30px;
  height: 30px;
  border: 1px solid #39b54a;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  right: 20px;
  top: -15px;
}

main section article img {
  width: 100%;
}

main section article i,
.discount {
  color: #39b54a;
}

/******************/
/* SECTION FOOTER */
/******************/

footer {
  text-align: center;
  color: #666;
  padding: 20px;
  background-color: #ffffffff;
}

footer section i {
  color: #1259c3;
  font-size: 2em;
  margin-bottom: 10px;
}

.footer-details {
  margin: 25px;
  margin-bottom: 30px;
}

.copyright {
  text-align: left;
}

.main-navbar {
  display: none;
  padding: 15px;
}
