/*
- PALETA DE COLORES:

Amarillo: #EAC926;
Azul: #03264C;
Celeste: #1259c3;
Gris oscuro: #666;
Gris claro: #ebebeb;
Verde: #39b54a;

- TIPOGRAFIAS:

Familia: 'Roboto'

- TAMAÑOS TIPOGRAFICOS:

Cuerpos de texto: 12px
Titulares (Basado en tu última visita/Ofertas): 24px
Precios: 18px
Descuentos: 16px
Descripciones: 16px

- ICONOS:
https://fontawesome.com/icons?d=gallery&m=free
*/

/******************/
/* GENERAL STYLES */
/******************/

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #ebebeb;
}

h3 {
  font-size: 24px;
  margin: 20px 0;
}

p {
  font-size: 12px;
}

/******************/
/* SECTION HEADER */
/******************/

header {
  background-color: #eac926;
}

.top-header {
  padding: 5%;
  margin: auto;
  max-width: 1400px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.top-header p {
  width: 100%;
  text-align: center;
}

.logo {
  padding: 10px;
}

.form {
  display: flex;
  height: 30px;
  align-items: center;
}

.input {
  height: 100%;
  background-color: #fff;
  outline: none;
  color: #666;
  font-size: 12px;
  padding: 10px;
  border-radius: 5px 0 0 5px;
  width: 95%;
  display: flex;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
}

.submit {
  height: 100%;
  background-color: #fff;
  color: #666;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  border-radius: 0 5px 5px 0;
}

.main-navbar {
  font-size: 12px;
  display: none;
  margin: auto;
  padding: 0 20px 20px;
  max-width: 1400px;
}

.main-navbar ul {
  display: flex;
  gap: 20px;
}

header ul li {
  list-style-type: none;
}

header ul li a {
  text-decoration: none;
  color: #000;
}


div.burger-menu {
  text-align: center;
}

div.burger-menu i {
  background-color: #0044aa;
  border-radius: 5px;
  color: #fff;
  font-size: 20px;
  height: 40px;
  margin: 10px 0px 20px 0px;
  padding: 10px;
  width: 40px;
}

/****************/
/* SECTION MAIN */
/****************/

main {
  width: 90vw;
  margin: auto;
}

h3,
.description {
  color: #666;
}

.offers {
  margin-bottom: 40px;
}

article {
  background-color: #fff;
  box-shadow: none;
  transition: all 0.6s;
}

article i {
  display: block;
  font-size: 16px;
  padding: 5px;
  width: 30px;
  height: 30px;
  border: 1px solid #39b54a;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  right: 20px;
  top: -15px;
  transition: all 0.6s;
}

article img {
  width: 100%;
}

article i,
.discount {
  color: #39b54a;
}

article:hover i {
  transform: rotate(-90deg);
  /* animation: camion 5s infinite; */
}

article:hover {
  box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

article:hover .description {
  visibility: visible;
}

.main-article {
  position: relative;
  border-top: 1px solid #ebebeb;
  padding: 15px;
}

.banner img {
  width: 100%;
}

.price-discount {
  display: flex;
  align-items: center;
}

.price {
  width: 30%;
  font-size: 18px;
}

.discount {
  width: 70%;
  padding-left: 15px;
}

.discount,
.description {
  font-size: 16px;
  font-weight: normal;
}

.description {
  visibility: hidden;
}

/******************/
/* SECTION FOOTER */
/******************/

footer {
  text-align: center;
  color: #666;
  padding: 20px;
  background-color: #ffffffff;
}

footer section i {
  color: #1259c3;
  font-size: 2em;
  margin-bottom: 10px;
  transition: all 0.6s;
}

footer section i:hover {
  color: #eac926;
}

.footer-details {
  margin: 25px;
}

.copyright {
  text-align: left;
}
