/*
- PALETA DE COLORES:
Amarillo: #EAC926;
Azul: #03264C;
Celeste: #1259c3;
Gris oscuro: #666;
Gris claro: #ebebeb;
Verde: #39b54a;

- TIPOGRAFIAS:
Roboto

- TAMAÑOS TIPOGRAFICOS:
Cuerpos de texto: 12px
Titulares (Basado en tu última visita/Ofertas): 24px
Precios: 18px
Descuentos: 16px
Descripciones: 16px

- ICONOS:
https://fontawesome.com/icons?d=gallery&m=free
*/

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #ebebeb;
}

h3 {
  font-size: 24px;
  margin: 20px 0 35px 0;
}

p {
  font-size: 12px;
}

div.top-header {
  padding: 5%;
}

header {
  background-color: #eac926;
}

header div.logo {
  width: 200px;
}

header div.logo {
  padding: 10px;
}
.main-navbar {
  font-size: 12px;
}
.input,
.submit {
  display: inline;
}

header ul li {
  list-style-type: none;
}

header ul li a {
  text-decoration: none;
  color: #000;
}

header .form .input {
  background-color: #fff;
  border: 1px solid #000;
  outline: none;
  color: #666;
  padding: 10px;
}
header .form .submit {
  background-color: #fff;
  border: 1px solid #000;
  color: #666;
  width: 10%;
}

header div.top-header p {
  width: 100%;
  text-align: center;
  margin-top: 10px;
}

div.burger-menu {
  text-align: center;
}

div.burger-menu i {
  background-color: #0044aa;
  border-radius: 5px;
  color: #fff;
  font-size: 20px;
  height: 40px;
  margin: 10px 0px 20px 0px;
  padding: 10px;
  width: 40px;
}

article {
  margin-bottom: 10px;
}
.main-article {
  position: relative;
}
/* article i {
  border: 1px solid #39b54a;
  padding: 5px;
  border-radius: 50%;
} */

article div.main-article {
  width: 100%;
}

.main-article {
  border-top: 1px solid #ebebeb;
  padding: 15px;
}

.products:last-child {
  margin-bottom: 0px;
}

.price {
  font-size: 18px;
}

.discount,
.description {
  font-size: 16px;
  font-weight: normal;
}

h3,
.description {
  color: #666;
}

section.banner img {
  width: 100%;
}

main {
  width: 90vw;
  margin: auto;
}
main section article {
  background-color: #fff;
}

.price-discount {
  display: flex;
  align-items: center;
}
.price {
  margin-right: 10px;
}

main section article i {
  display: block;
  font-size: 16px;
  padding: 5px;
  width: 30px;
  height: 30px;
  border: 1px solid #39b54a;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  right: 20px;
  top: -15px;
}

main section article img {
  width: 100%;
}

main section article i,
.discount {
  color: #39b54a;
}

footer {
  text-align: center;
  color: #666;
  padding: 20px;
}

footer section i {
  color: #1259c3;
  font-size: 2em;
  margin-bottom: 10px;
}

.footer-details {
  margin: 25px;
  margin-bottom: 30px;
}

.copyright {
  text-align: left;
}

.description {
  display: none;
}

.main-navbar {
  display: none;
  padding: 15px;
}

@media (max-width: 360px) {
  .top-header {
    display: flex;
    flex-wrap: wrap;
  }

  header div.logo {
    padding-right: 10px;
    width: 50%;
  }

  .form {
    display: flex;
    height: 30px;
    width: 50%;
    align-items: center;
  }
  .input {
    display: inline-block;
    border: none;
    border-radius: 5px 0 0 5px;
    width: 95%;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
  }
  header .form .input,
  header .form .submit {
    display: flex;
    border: none;
    height: 100%;
  }

  header .form .submit {
    justify-content: center;
    align-items: center;
    width: 40px;
    border-radius: 0 5px 5px 0;
  }
  header .form .input {
    font-size: 15px;
  }
}
@media (min-width: 361px) {
  article {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
  }

  .main-navbar {
    display: block;
  }

  .burger-menu {
    display: none;
  }
  .price-discount {
    margin-bottom: 20px;
  }

  .description {
    display: block;
  }
}
.top-header {
  align-items: center;
}
@media (min-width: 768px) {
  .top-header {
    display: flex;
    justify-content: space-between;
  }
  /* .form {
    display: none;
  } */
  header div.top-header p {
    max-width: 350px;
    text-align: right;
  }
  .main-navbar {
    display: flex;
    justify-content: space-between;
  }
  .main-navbar ul {
    display: flex;
  }
  .main-navbar li {
    margin: 0 5px;
  }
  div.top-header {
    padding: 10px;
  }
  .products {
    display: flex;
  }
}

@media (min-width: 1200px) {
  header div.logo {
    width: 250px;
  }
  .top-header,
  .main-navbar {
    max-width: 1400px;
    margin: auto;
  }

  header div.top-header p {
    max-width: none;
    font-size: 18px;
    font-weight: 400;
  }
  /* .main-navbar {
    margin-top: 35px;
  } */

  .main-navbar li {
    margin: 0 10px;
  }
  .main-navbar a {
    font-size: 19px;
  }
  .products {
    flex-direction: row;
    column-gap: 50px;
  }

  .form {
    display: flex;
    height: 40px;
    width: 220%;
  }
  .input {
    display: flex;
    width: 95%;
    border: none;
    border-radius: 5px 0 0 5px;
  }
  header .form .input,
  header .form .submit {
    border: none;
    height: 100%;
    align-items: center;
  }

  header .form .submit {
    display: flex;
    justify-content: flex-end;
    padding-right: 5px;
    border-radius: 0 5px 5px 0;
  }
  header .form .input {
    padding: 10px;
    font-size: 15px;
  }
  div.top-header {
    padding: 5px 10px 10px 10px;
  }
  .main-navbar {
    padding: 25px;
    margin: auto;
  }
  .main-navbar a {
    font-size: 13px;
  }
  header div.top-header p {
    font-size: 13px;
    text-align: center;
    padding: 0 30px;
  }
  header div.logo {
    width: 65%;
    padding: 8px 12px 0 30px;
  }
  article {
    box-shadow: none;
  }
  footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 50px;
    background-color: white;
  }
  footer section {
    display: flex;
    margin-bottom: 10px;
    justify-content: space-around;
  }
  .footer-details {
    max-width: 500px;
  }
  .description {
    display: none;
  }
  .price-discount {
    margin: 0;
  }
}
